    </div>
    <!--footer style="margin-top-min: 800px;
                        clear: left;
                        background-color: #0066FF;
                        color: #FFFFFF;
                        height: 50px;
                        line-height: 50px;
                        text-align: center;">

                &#9400;Todos os direitos reservados
    </footer-->
    </div>
    </body>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="{{ url_for('static', filename='bootstrap/js/bootstrap.js') }}"></script>
</div>
    </html>